*.Rproj
.Rproj.user
.vscode/*
.Rhistory
.DS_Store

test_build.R
src/*.o
src/*.so
src/*.dll
src/symbols.rds
src/Makevars
GPTCM.Rcheck/*
GPTCM.Rcheck/*
*.gcno

autom4te.cache
build
hyperpar.xml

*.tar.gz
*.log
*.status
